.autoplayPrompt {
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  &:focus {
    outline: none !important;
  }

  span:last-child {
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 600;
  }
}
